$color-main: #9e2239;
$color-main-dark: #8f1616;

$color-grey: #c2c2c2;
$color-red: #a61313;
$color-orange: #ec582a;
$color-darkgrey: #685c58;

$keywidthRatio: 18%;
$keySpaces: 10px 5px;

$fontGentleman: 'Gentleman';
$fontClaredonLTStd: 'ClarendonLTStd';
$baseFontFamily: $fontGentleman;

$rowWidth:75rem;
$columnSpace:0.9375rem;
